body{
        background-color: white;
        margin:0px;
         font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        
}

*{
    box-sizing: border-box;
    font-family:h
}
.main{
   
}

.navbar{
    margin: 0px;
    background-color:whitesmoke;
    padding:20px;

}
.nav-items{
    margin: 0px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;

}

.nav-items a{
    text-decoration:none;
    color:rgb(56, 49, 49);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing:0.5px;
}

.nav-items a:hover{
    background-color:aqua;
    border-radius:10px;
}

.nav-items Logo{
    
}